<div class="container-fluid">
  <div class="row calHead">
    <div class="col-sm text-center text-danger">
      <select [(ngModel)]="monthList" (change)="redrawCalendar($event.target.value, selectedYear)">
        <option [value]="month" *ngFor="let month of months">{{month}}</option>
      </select>
      <select [(ngModel)]="yearList" (change)="redrawCalendar(selectedMonth, $event.target.value)">
        <option [value]="yr" *ngFor="let yr of years">{{yr}}</option>
      </select>
    </div>
  </div>
  <div class="row dayNames">
    <div class="col col-sm text-center dayNames text-danger" *ngFor="let day of days">
      <strong>{{day}}</strong>
    </div>
  </div>
  <div class="row calDate" *ngFor="let row of dateRows | keyvalue">
    <div class="col col-sm text-center calDate text-secondary" *ngFor="let day of row.value">
      <span [ngClass]="{'badge badge-primary': day==today && month==selectedMonth && year == selectedYear}">{{day}}</span>
    </div>
  </div>
</div>
